@font-face {
	font-family: roboto;
	src: url("../fonts/roboto-regular.ttf");
}

#sidemenuOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}

#sidemenu {
	font-family: roboto;
	font-size: 10pt;
	background-color: #fff;
	height: 100%;
	width: 350px;
	left: -350px;
	top: 0;
	position: fixed;
	z-index: 100000;
	overflow-y: auto;
}

#sidemenu a {
	color: #000;
	text-decoration: none;
}

#sidemenu a:hover {
	color: blue;
	text-decoration: underline;
}

#sidemenu .header {
	font-size: 1.15em;
	color: #666;
	padding: .85em;
}

#sidemenu .header .close-btn {
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	background-size: 10px 10px;
	float: right;
	width: 10px;
	height: 10px;
	position: relative;
	top: 4px;
	left: 3px;
	opacity: 0.2;
	filter: alpha(opacity=20); /* For IE8 and earlier */
	cursor: pointer;
	padding: 3px;
}

#sidemenu .close-btn:hover {
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

#sidemenu .items {}

#sidemenu .group-btn {
	color: #000;
	display: block;
	padding-top: 1.1em;
	padding-bottom: 1.1em;
	cursor: pointer;
}

#sidemenu .group-btn:hover {
	color: #000;
	background-color: #f9f9f9;
	text-decoration: none;
}

#sidemenu .items {
	display: none;
}

#sidemenu .item {
	display: block;
	padding-top: .55em;
	padding-bottom: .55em;
}

#sidemenu .arrow-down, .arrow-up {
	background-repeat: no-repeat;
	background-size: 12px 12px;
	float: right;
	width: 12px;
	height: 12px;
	opacity: 0.2;
	filter: alpha(opacity=20); /* For IE8 and earlier */
	cursor: pointer;
}

#sidemenu .group-btn:hover i {
	opacity: .35;
	filter: alpha(opacity=35); /* For IE8 and earlier */
}

#sidemenu .arrow-down {
	background-image: url("../img/arrow-down.png");
	position: relative;
	top: .1em;
	left: -1.1em;
}

#sidemenu .arrow-up {
	background-image: url("../img/arrow-up.png");
	position: relative;
	top: 0;
	left: -1.1em;
}

#sidemenu .item:last-child {
	padding-bottom: 1em;
}

#sidemenu .group .group-btn {
	padding-left: 1em;
}

#sidemenu .items .group-btn {
	padding-left: 2em;
}

#sidemenu .items .item {
	padding-left: 2em;
}

#sidemenu .items .items .item {
	padding-left: 3em;
}

#sidemenu .bordert {
	border-top: 1px solid #e8e8e8;
}

#sidemenu .borderb {
	border-bottom: 1px solid #e8e8e8;
}

#sidemenu .footer {
	height: 300px;
}

#sidemenu .footer .items-count {
	font-size: .9em;
	color: #999;
	padding: 1.1em;
}
